html {
  height: 100%;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  height: 100%;
  background-image: url(../../imgs/Light-Blue-blur-background.jpg);
}

.jumbotron-custom {
  height: 550px;
  padding-top: 10rem;
  /* color: white; */
  /* background: white; */
  background: transparent;
}

footer {
  font-size: small;
}

.container ul {
  padding-left: .5rem;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

p, .list-unstyled {
  font-family: Lora, serif;
}
